= simple_form_for recipe do |f|
  = f.input :title
  = f.input :description
  = f.input :prep
  = f.input :cook
  = f.input :servings

  %h2 Ingredients
  #ingredients
    = f.simple_fields_for :ingredients do |ingredient|
      = render 'ingredient_fields', f: ingredient
    .links
      = link_to_add_association 'add ingredient', f, :ingredients

  %h2 Steps
  #steps
    = f.simple_fields_for :steps do |step|
      = render 'step_fields', f: step
    .links
      = link_to_add_association 'add step', f, :steps

  .actions
    = f.submit
